<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ePariksha</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>new.jsp</welcome-file>
  </welcome-file-list>
  <!-- <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page> -->
  <session-config>
    <session-timeout>45</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>AddModule</display-name>
    <servlet-name>AddModule</servlet-name>
    <servlet-class>in.cdac.acts.AddModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddModule</servlet-name>
    <url-pattern>/AddModule.pks</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>RandomPassword</display-name>
    <servlet-name>RandomPassword</servlet-name>
    <servlet-class>in.cdac.coursemgmt.RandomPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomPassword</servlet-name>
    <url-pattern>/RandomPassword</url-pattern>
  </servlet-mapping>


  <servlet>
    <description></description>
    <display-name>LoginAuthentication</display-name>
    <servlet-name>LoginAuthentication</servlet-name>
    <servlet-class>in.cdac.acts.LoginAuthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAuthentication</servlet-name>
    <url-pattern>/LoginAuthentication.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteModule</display-name>
    <servlet-name>DeleteModule</servlet-name>
    <servlet-class>in.cdac.acts.DeleteModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteModule</servlet-name>
    <url-pattern>/DeleteModule.pks</url-pattern>
  </servlet-mapping>
  
<servlet>
    <description></description>
    <display-name>SetToDefault</display-name>
    <servlet-name>SetToDefault</servlet-name>
    <servlet-class>in.cdac.coursemgmt.SetToDefault</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetToDefault</servlet-name>
    <url-pattern>/SetToDefault</url-pattern>
  </servlet-mapping>



  <servlet>
    <description></description>
    <display-name>ExamQuestion</display-name>
    <servlet-name>ExamQuestion</servlet-name>
    <servlet-class>in.cdac.acts.ExamQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamQuestion</servlet-name>
    <url-pattern>/ExamQuestion.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamSaveAnswer</display-name>
    <servlet-name>ExamSaveAnswer</servlet-name>
    <servlet-class>in.cdac.acts.ExamSaveAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamSaveAnswer</servlet-name>
    <url-pattern>/ExamSaveAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamTimeCalculation</display-name>
    <servlet-name>ExamTimeCalculation</servlet-name>
    <servlet-class>in.cdac.acts.ExamTimeCalculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamTimeCalculation</servlet-name>
    <url-pattern>/ExamTimeCalculation.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion</display-name>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>in.cdac.coursemgmt.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuestion</display-name>
    <servlet-name>UpdateQuestion</servlet-name>
    <servlet-class>in.cdac.coursemgmt.UpdateQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuestion</servlet-name>
    <url-pattern>/UpdateQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Converter</display-name>
    <servlet-name>Converter</servlet-name>
    <servlet-class>in.cdac.coursemgmt.Converter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Converter</servlet-name>
    <url-pattern>/Converter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentPRN</display-name>
    <servlet-name>StudentPRN</servlet-name>
    <servlet-class>in.cdac.acts.StudentPRN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentPRN</servlet-name>
    <url-pattern>/StudentPRN.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateModule</display-name>
    <servlet-name>UpdateModule</servlet-name>
    <servlet-class>in.cdac.acts.UpdateModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateModule</servlet-name>
    <url-pattern>/UpdateModule.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>in.cdac.acts.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudLogin</display-name>
    <servlet-name>UpdateStudLogin</servlet-name>
    <servlet-class>in.cdac.acts.UpdateStudLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudLogin</servlet-name>
    <url-pattern>/UpdateStudLogin.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadQuestion</display-name>
    <servlet-name>UploadQuestion</servlet-name>
    <servlet-class>in.cdac.acts.UploadQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadQuestion</servlet-name>
    <url-pattern>/UploadQuestion.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadStudData</display-name>
    <servlet-name>UploadStudData</servlet-name>
    <servlet-class>in.cdac.acts.UploadStudData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadStudData</servlet-name>
    <url-pattern>/UploadStudData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudPass</display-name>
    <servlet-name>UpdateStudPass</servlet-name>
    <servlet-class>in.cdac.acts.UpdateStudPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudPass</servlet-name>
    <url-pattern>/UpdateStudPass.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudName</display-name>
    <servlet-name>UpdateStudName</servlet-name>
    <servlet-class>in.cdac.acts.UpdateStudName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudName</servlet-name>
    <url-pattern>/UpdateStudName.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchStudName</display-name>
    <servlet-name>FetchStudName</servlet-name>
    <servlet-class>in.cdac.acts.FetchStudName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchStudName</servlet-name>
    <url-pattern>/FetchStudName.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCourse</display-name>
    <servlet-name>CreateCourse</servlet-name>
    <servlet-class>in.cdac.acts.CreateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCourse</servlet-name>
    <url-pattern>/createcourse.pks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteDBConData</display-name>
    <servlet-name>WriteDBConData</servlet-name>
    <servlet-class>props.servlet.WriteDBConData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteDBConData</servlet-name>
    <url-pattern>/WriteDBConData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questions</display-name>
    <servlet-name>Questions</servlet-name>
    <servlet-class>in.cdac.coursemgmt.Questions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questions</servlet-name>
    <url-pattern>/Questions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuestions</display-name>
    <servlet-name>DeleteQuestions</servlet-name>
    <servlet-class>in.cdac.coursemgmt.DeleteQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestions</servlet-name>
    <url-pattern>/DeleteQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionVariablesMaintain</display-name>
    <servlet-name>SessionVariablesMaintain</servlet-name>
    <servlet-class>in.cdac.coursemgmt.SessionVariablesMaintain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionVariablesMaintain</servlet-name>
    <url-pattern>/SessionVariablesMaintain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOperationsAjax</display-name>
    <servlet-name>CheckOperationsAjax</servlet-name>
    <servlet-class>in.cdac.coursemgmt.CheckOperationsAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOperationsAjax</servlet-name>
    <url-pattern>/CheckOperationsAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopyQuestionsAjaxOperations</display-name>
    <servlet-name>CopyQuestionsAjaxOperations</servlet-name>
    <servlet-class>in.cdac.coursemgmt.CopyQuestionsAjaxOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopyQuestionsAjaxOperations</servlet-name>
    <url-pattern>/CopyQuestionsAjaxOperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopyQuestions</display-name>
    <servlet-name>CopyQuestions</servlet-name>
    <servlet-class>in.cdac.coursemgmt.CopyQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopyQuestions</servlet-name>
    <url-pattern>/CopyQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayReports</display-name>
    <servlet-name>DisplayReports</servlet-name>
    <servlet-class>in.cdac.coursemgmt.DisplayReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayReports</servlet-name>
    <url-pattern>/DisplayReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDatesAjax</display-name>
    <servlet-name>AddDatesAjax</servlet-name>
    <servlet-class>in.cdac.coursemgmt.AddDatesAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDatesAjax</servlet-name>
    <url-pattern>/AddDatesAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddExaminer</display-name>
    <servlet-name>AdminAddExaminer</servlet-name>
    <servlet-class>in.cdac.acts.AdminAddExaminer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddExaminer</servlet-name>
    <url-pattern>/AdminAddExaminer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminChangePass</display-name>
    <servlet-name>AdminChangePass</servlet-name>
    <servlet-class>in.cdac.acts.AdminChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangePass</servlet-name>
    <url-pattern>/AdminChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileUpdater</display-name>
    <servlet-name>AdminProfileUpdater</servlet-name>
    <servlet-class>in.cdac.acts.AdminProfileUpdater</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileUpdater</servlet-name>
    <url-pattern>/AdminProfileUpdater</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminResetPass</display-name>
    <servlet-name>AdminResetPass</servlet-name>
    <servlet-class>in.cdac.acts.AdminResetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminResetPass</servlet-name>
    <url-pattern>/AdminResetPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateExaminer</display-name>
    <servlet-name>AdminUpdateExaminer</servlet-name>
    <servlet-class>in.cdac.acts.AdminUpdateExaminer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateExaminer</servlet-name>
    <url-pattern>/AdminUpdateExaminer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleExamFinder</display-name>
    <servlet-name>ModuleExamFinder</servlet-name>
    <servlet-class>in.cdac.acts.ModuleExamFinder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleExamFinder</servlet-name>
    <url-pattern>/ModuleExamFinder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSchedule</display-name>
    <servlet-name>RemoveSchedule</servlet-name>
    <servlet-class>in.cdac.acts.RemoveSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSchedule</servlet-name>
    <url-pattern>/RemoveSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleExam</display-name>
    <servlet-name>ScheduleExam</servlet-name>
    <servlet-class>in.cdac.acts.ScheduleExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleExam</servlet-name>
    <url-pattern>/ScheduleExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSchedule</display-name>
    <servlet-name>UpdateSchedule</servlet-name>
    <servlet-class>in.cdac.acts.UpdateSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSchedule</servlet-name>
    <url-pattern>/UpdateSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourses</display-name>
    <servlet-name>UpdateCourses</servlet-name>
    <servlet-class>in.cdac.coursemgmt.UpdateCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourses</servlet-name>
    <url-pattern>/UpdateCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCourses</display-name>
    <servlet-name>CreateCourses</servlet-name>
    <servlet-class>in.cdac.coursemgmt.CreateCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCourses</servlet-name>
    <url-pattern>/CreateCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateModule</display-name>
    <servlet-name>CreateModule</servlet-name>
    <servlet-class>in.cdac.coursemgmt.CreateModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateModule</servlet-name>
    <url-pattern>/CreateModule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseModuleSpecialization</display-name>
    <servlet-name>CourseModuleSpecialization</servlet-name>
    <servlet-class>in.cdac.coursemgmt.CourseModuleSpecialization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseModuleSpecialization</servlet-name>
    <url-pattern>/CourseModuleSpecialization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteModules</display-name>
    <servlet-name>DeleteModules</servlet-name>
    <servlet-class>in.cdac.coursemgmt.DeleteModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteModules</servlet-name>
    <url-pattern>/DeleteModules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateModules</display-name>
    <servlet-name>UpdateModules</servlet-name>
    <servlet-class>in.cdac.coursemgmt.UpdateModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateModules</servlet-name>
    <url-pattern>/UpdateModules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalCriteriaFetchAndAdd</display-name>
    <servlet-name>FinalCriteriaFetchAndAdd</servlet-name>
    <servlet-class>in.cdac.coursemgmt.FinalCriteriaFetchAndAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalCriteriaFetchAndAdd</servlet-name>
    <url-pattern>/FinalCriteriaFetchAndAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserToCourse</display-name>
    <servlet-name>AddUserToCourse</servlet-name>
    <servlet-class>in.cdac.coursemgmt.AddUserToCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserToCourse</servlet-name>
    <url-pattern>/AddUserToCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwitchRoleManagement</display-name>
    <servlet-name>SwitchRoleManagement</servlet-name>
    <servlet-class>in.cdac.coursemgmt.SwitchRoleManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchRoleManagement</servlet-name>
    <url-pattern>/SwitchRoleManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAvailableCourses</display-name>
    <servlet-name>FetchAvailableCourses</servlet-name>
    <servlet-class>in.cdac.coursemgmt.FetchAvailableCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAvailableCourses</servlet-name>
    <url-pattern>/FetchAvailableCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultAdmin</display-name>
    <servlet-name>ResultAdmin</servlet-name>
    <servlet-class>in.cdac.acts.ResultAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultAdmin</servlet-name>
    <url-pattern>/ResultAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Results</display-name>
    <servlet-name>Results</servlet-name>
    <servlet-class>in.cdac.acts.Results</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Results</servlet-name>
    <url-pattern>/Results</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlockUnblockUser</display-name>
    <servlet-name>BlockUnblockUser</servlet-name>
    <servlet-class>in.cdac.acts.BlockUnblockUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockUnblockUser</servlet-name>
    <url-pattern>/BlockUnblockUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>in.cdac.acts.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlockStudent</display-name>
    <servlet-name>BlockStudent</servlet-name>
    <servlet-class>in.cdac.acts.BlockStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockStudent</servlet-name>
    <url-pattern>/BlockStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentInfo</display-name>
    <servlet-name>UpdateStudentInfo</servlet-name>
    <servlet-class>in.cdac.acts.UpdateStudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentInfo</servlet-name>
    <url-pattern>/UpdateStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultExcelExport</display-name>
    <servlet-name>ResultExcelExport</servlet-name>
    <servlet-class>com.Reports.Excel.ResultExcelExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultExcelExport</servlet-name>
    <url-pattern>/ResultExcelExport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStudentPassword</display-name>
    <servlet-name>ChangeStudentPassword</servlet-name>
    <servlet-class>in.cdac.acts.ChangeStudentPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStudentPassword</servlet-name>
    <url-pattern>/ChangeStudentPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadQuestionData</display-name>
    <servlet-name>UploadQuestionData</servlet-name>
    <servlet-class>in.cdac.acts.UploadQuestionData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadQuestionData</servlet-name>
    <url-pattern>/UploadQuestionData</url-pattern>
  </servlet-mapping>
</web-app>